.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    display: in;
    position: relative;
    width: 400px;
    height: 300px;
}

.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

.swipe-carousel {
    position: relative;
}

.swipe-carousel-button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
}

.swipe-carousel-left-button {
    left: 0;
}

.swipe-carousel-right-button {
    right: 0;
    top: 0;
    height: 100%;
    width: 35px;
}